#bootstrapperBody
{
	background-color:#7E7E7E;
	font-family: Sigue, Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

div
{
	font-family: Sigue, Tahoma, Verdana, Helvetica, Arial, sans-serif;
}	

span
{
	font-family: Sigue, Tahoma, Verdana, Helvetica, Arial, sans-serif;
}	

p
{
	font-family: Sigue, Tahoma, Verdana, Helvetica, Arial, sans-serif;
}	

